pipeline = "inorder";

qsim_server = "127.0.0.1";
qsim_port = "1234";

memory_deadlock_avoidance = true;
memory_deadlock_threshold = 50000;

arch_type = "a64";

fetch_width = 4;
allocate_width = 4;
execute_width = 5;
commit_width = 4;

instQ_size = 16;
RS_size = 36;
LDQ_size = 48;
STQ_size = 32;
ROB_size = 128;

inst_cache: {
    cache_size = 32768;  //32kb  (https://www.xilinx.com/support/documentation/user_guides/ug1085-zynq-ultrascale-trm.pdf v1.6 P.60)
    assoc = 2;           //  (https://www.xilinx.com/support/documentation/user_guides/ug1085-zynq-ultrascale-trm.pdf v1.6 P.60)
    block_size = 64;     // https://developer.arm.com/docs/ddi0500/latest/level-1-memory-system/about-the-l1-memory-system
};

inst_tlb: {
    cache_size = 32768; //32kb  (https://www.xilinx.com/support/documentation/user_guides/ug1085-zynq-ultrascale-trm.pdf v1.6 P.56)
    assoc = 2;          // http://docs-api-peg.northeurope.cloudapp.azure.com/assets/ddi0500/g/DDI0500G_cortex_a53_trm.pdf P.327
    block_size = 8; // 64-bit addr
    page_size = 4096;
};

data_tlb: {
    cache_size = 32768; //32kb  (https://www.xilinx.com/support/documentation/user_guides/ug1085-zynq-ultrascale-trm.pdf v1.6 P.56)
    assoc = 4;          // http://docs-api-peg.northeurope.cloudapp.azure.com/assets/ddi0500/g/DDI0500G_cortex_a53_trm.pdf P.327
    block_size = 8; // 64-bit addr
    page_size = 4096;
};

l2_tlb: {
    cache_size = 16384;
    assoc = 8;
    block_size = 8; // 64-bit addr
    page_size = 4096;
};

FU_INT: 
{
	delay = 1;
	issue_rate = 1;
	port = [0, 1, 2];
};

FU_MUL: 
{
	delay = 3;
 	issue_rate = 1;
	port = [0];
};

FU_FP: 
{
	delay = 3;
	issue_rate = 1;
	port = [1];
};

FU_MOV: 
{
	delay = 1;
	issue_rate = 1;
	port = [0, 1, 2];
};

FU_BR: 
{
	delay = 1;
	issue_rate = 1;
	port = [2];
};

FU_LD: 
{
	delay = 1;
	issue_rate = 1;
	port = [3];
};

FU_ST: 
{
	delay = 1;
	issue_rate = 1;
	port = [4];
};


